* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav {
    position: fixed;
    z-index: 10;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    height: 90px;
    padding: 0 5%;
    box-shadow: 0px 0px 3px black;
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 25px;
}
nav .logo h2 span{
    color:#A15F1B ;
}
nav .logo h2{
    color: #875C32;
}
nav .links{
    float: right;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
nav .links li {
    list-style: none;
    padding: 10px;
}
nav .links li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
nav .links li a:hover{
    color:#A15F1B ;
}

#nav-toggle {
    position: absolute;
    top: -100px;
   
}
nav .icon-burger{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}
nav .icon-burger .line{
    width: 40px;
    height: 5px;
    background-color: #A15F1B ;
    margin: 5px;
    border-radius: 3px;
    transition: .5s;
   
}
nav .icon-burger .line2{
    width: 30px;
    height: 5px;
    background-color: #A15F1B ;
    margin: 5px;
    border-radius: 3px;
    transform: translateY(180deg);
    transition: .5s;
}

/* bg-hero */
.hero-image{
    background: url(img/banner.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    width: 100%;
    z-index: 3;
    top: 90px;
}

.hero-image .text-hero{
    position: absolute;
    position: absolute;
    top: 34%;
    left: 7%;   
    color: white;

}
.hero-image .text-hero p{
    font-size: 50px;   
    width: 60%;
}
.hero-image .text-hero .text2{
    font-size: 24px;
    padding-top: 23px;
    width: 100%;
    padding-bottom: 30px;
}
.hero-image .text-hero .button1{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px 10px 5px 10px;
}
.hero-image .text-hero .button2{
    text-decoration: none;
    color: white;
    border: 2px solid #A15F1B;
    margin-left: 28px;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px 10px 5px 10px;
}
.container-1{
    width: 100%;
    height: 100vh;
    position: relative;
}
/*container-2*/
.container-2{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    padding-top: 120px;
}
.container-2 .text .underline{
    width: 7px;
    height: 320px;
    position: absolute;
    left: 0px;
    top: 70px;
    background-color: #A15F1B;
    display: flex;
    align-items: center;
}
.container-2 .text{
  width: 30%;
  position: relative;
  padding-left: 40px;
  padding-top: 90px;
}
.container-2 .text h2{
    font-size: 36px;
}
.container-2 .text p{
    padding-top: 30px;
    font-size:20px;
    padding-bottom: 30px;
}
.container-2 .text a{
    text-decoration: none;
    color: black;
    border : 2px solid #A15F1B;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 6px;
    width: 100%;
}

.container-2 .image{
    width:  360px;
    height: 450px;
    position: relative;
    
}
.container-2 .image img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius:7px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 16px;
    box-shadow: 0px 0px 15px #000000;
}


.container-3{
    display: flex;
    justify-content: space-around;   
    padding-top: 120px;
}
.container-3 .text{

}
.container-3 .text h2{
    font-size: 36px;
}
.container-3 .text p{
    padding-top: 30px;
    font-size:20px;
}
.container-3 .underline{
    background-color: #A15F1B;
    width: 7px;
    height: 120px;
}


.container-4{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}
.container-4 .wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    flex-wrap: wrap;
 
}
.container-4 .wrapper .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 10px;
    cursor: pointer;
}
.container-4 .wrapper .card img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: .4s ease;
}
.card img:hover {
    -webkit-transform: scale(1.04);
    transition: .4s ease;
    -webkit-filter: grayscale(100%);
}

/* responsive for all navbar */
@media screen and (max-width :1900px){
    nav .logo{
        float: left;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        color: black;
        font-size: 20px;
    }
    nav .icon-burger{
        display: block;
        font-size: 19px;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 87px;
        bottom: 100%;
        height:auto;
        width: auto;
        background-color: rgba(255, 255, 255);
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        transition: 0.5s;
       
    }
    nav .links li{
        padding: 5px;
        
    }
    nav .links li :hover{
        background-color: #A15F1B ;
        padding: 14px 80px;
        border-radius: 5px;
        
    }
    nav .links li a:hover{
        color: white;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line2:nth-child(2){
        opacity: 0;
    }

}
@media screen and (max-width:576px){
    .hero-image .text-hero{
        position: absolute;
        top: 24%;
        left: auto;   
        width: 100%;
        padding: 0 4%;
    }
    .hero-image .text-hero p{
        font-size: 30px;   
        width: 100%;
    }
    .hero-image .text-hero .text2{
        font-size: 20px;
        padding-top: 23px;
        width: 80%;
        padding-bottom: 30px;
    }
    .hero-image .text-hero .button{
        width:57%;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -18px;
    }
    .hero-image .text-hero .button1{
        font-size: 18px;
        margin-top: 20px;
    }
    .hero-image .text-hero .button2{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 10px;
    }
    .hero-image{
        background: url(img/banner.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: 3;
        top: 90px;
        object-fit: cover;
    }


    .container-2{
        display: flex;
        flex-direction: column-reverse;
        margin: auto 10px;
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .container-2 .text{
        width: 90%;
        padding-left: 30px;
        padding-top: 110px;
    }
    .container-2 .text .underline{
        width: 7px;
        height: 99px;
        position: absolute;
        left: 10px;
        top: 70px;
    }
    .container-2 .text h2{
        font-size: 30px;
    }
    .container-2 .text p{
        padding-top: 30px;
        font-size:18px;
        padding-bottom: 30px;
        width: 100%;
    }
    
    .container-2 .text a{
        text-decoration: none;
        color: black;
        border : 2px solid #A15F1B;
        padding: 10px 10px;     
        border-radius: 6px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .container-2 .image{
        width:  100%;
        height: 350px;
        position: relative;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .container-2 .image img{
        
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius:7px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 16px;
        box-shadow: 0px 0px 15px #000000;
    }
    .container-image{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: auto 5.5px;
    }

    .container-3{
        width: 100%;
    }
    .container-3 .text{
        width: 90%;
        padding-left: 30px;
    }
    .container-3 .text h2{
        font-size: 30px;
    }
    .container-3 .text p{
        font-size: 18px;
    }
    .container-3 .underline {
        position: relative;
        z-index: 3;
        left: -13px;
    }

    .container-4{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 80px;
    }
    .container-4 .wrapper{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 80%;
        flex-wrap: wrap;
     
    }
    .container-4 .wrapper .card{
        position: relative;
        width: 280px;
        height: 310px;
        margin: 10px;
        cursor: pointer;
    }

    
    
}